<% content_for :page_title, "New Incident" %>
<% content_for :page_subtitle, "Create an incident from a flagged log entry." %>

<div class="max-w-5xl bg-white border border-gray-200 p-6">
  <%= render "form" %>
</div>