<% content_for :page_title, "New Department" %>
<% content_for :page_subtitle, "Create a new department record." %>

<div class="max-w-2xl bg-white border border-gray-200 p-6">
  <%= render "form" %>
</div>