<% content_for :page_title, "Edit Dispatch" %>
<% content_for :page_subtitle, "Update dispatch record details." %>

<div class="max-w-5xl bg-white border border-gray-200 p-6">
  <%= render "form" %>
</div>