<% content_for :page_title, "New Dispatch" %>
<% content_for :page_subtitle, "Create a new dispatch record for a memo or document." %>

<div class="max-w-5xl bg-white border border-gray-200 p-6">
  <%= render "form" %>
</div>