<h2 style="text-align:center;">FEDERAL AIRPORTS AUTHORITY OF NIGERIA</h2>

<h3 style="text-align:center;">
  <%= @minute.title.presence || "MINUTES OF MEETING" %>
</h3>

<hr>

<pre style="font-family: Arial; font-size: 12px;">
<%= @minute.summary %>
</pre>